{
  "ApiBase": "https://droplist-azpcloud-api.azurewebsites.net",
  "Sql": {
    "Server": "",
    "Database": "",
    "UserId": "",
    "TenantId": "",
    "SubscriptionId": "",
    "ResourceGroup": ""
  }
}
